* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
}
.fixed {
   background-color: white;
}
.container nav.fixed {
    position: fixed;
    width: 100%;
    transition: background 0.6s ease-in;
    box-shadow: 3px 2px 3px 1px rgb(164, 163, 163);
}
.container nav.fixed ul{
    padding: 1px 5px 0px 5px;
}
.br {
    display: flex;
}
.container nav ul{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 10px 40px;
}
.container nav ul li {
    list-style: none;
}
.container nav ul li a {
    text-decoration: underline;
    padding-right: 30px;
    font-family: sans-serif;
    color: black;
    font-weight: bold;
    font-size: 22px;
}
.mi-btn {
    display: flex;
}
.mi-btn button{
    margin-right: 10px;
}
.container nav .links {
    display: flex;
}
.container nav .links li {
    margin-top: 10px;
}
.container nav .links button {
    padding: 2px 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: rgb(53, 53, 53);
}
.container nav .links button:hover {
    background-color: rgb(32, 32, 32);
}
.container nav .links button a {
    text-decoration: none;
    color: white;
}
.logo {
    margin-top: 5px;
}
.logo li img {
    width: 70%;
    margin-top: 2px;
}
.h {
    margin: 0px 40px 0px 40px;
}
.sub-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 30px 40px 0px 40px;
    height: 52vh;
}
.sub-container .person {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.sub-container .person img {
    width: 50%;
    border-radius: 80px;
}
.sub-container .text {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 29px;
    width: 70%;
    margin: 20px 0px 0px 0px;
}
.pd {
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    width: 65%;
    padding: 10px;
    color: white;
}
.sub-container .text p {
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 15px;
}
.about {
    margin-top: 20px;
    width: 70%;
}
.str {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.str img {
    width: 15px;
}
.web {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0px 40px 0px 40px;
}
.web button {
    display: flex;
    margin-bottom: 2.5px;
    border: none;
    padding: 10px;
    border-radius: 6px;
}
.web .clb {
    font-weight: bold;
    background-color: blue;
    color: white;
    width: 140px;
}
.web .clo {
    font-weight: bold;
    background-color: red;
    color: white;
    width: 140px;
}
.web .c1 {
    width: 90px;
}
.web .c3 {
    width: 90px;
}
.live {
    margin: 30px 0px 10px 40px;
    font-family: sans-serif;
    font-weight: normal;
}
.social {
    display: flex;
}
.social img {
    width: 20px;
    cursor: pointer;
    margin-right: 10px;
}
.design {
    display: flex;
    margin: 30px 0px 30px 40px;
    font-family: sans-serif;
}
.design .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 60px;
}
.design h2 {
    font-weight: normal;
    margin-bottom: 10px;
}
.design p {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.design .recents p {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.design .recents a {
    color: black;
    text-decoration: underline;
}
.design .imgs img {
    width: 90%;
}
.contact {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: sans-serif;
    margin: 30px 40px 20px 40px;
}
.contact button {
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: rgb(39, 38, 38);
}
.contact button a {
    text-decoration: none;
    color: white;
}
.contact button:hover {
    background-color: rgb(32, 32, 32);
}
@media screen and (max-width: 800px) {
    .sub-container {
        flex-direction: column-reverse;
        height: 71vh;
    }
    .sub-container .person img {
        width: 45%;
        height: 42vh;
    }
    .sub-container .text {
        width: 100%;
    }
    .sub-container .img img {
        width: 100%;
    }
    .design {
        flex-direction: column;
    }
    .recents {
        margin-bottom: 20px;
    }
    .contact {
        flex-direction: column;
    }
    .contact .text, .social, .btn {
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 414px) {
    .sub-container .text {
        font-size: 30px;
        height: 36vh;
    }
    .sub-container .text h2 {
        font-size: 40px;
    }
    .pd {
        width: 100%;
    }
    .sub-container .text p {
        margin-top: 10px;
        font-size: 17px;
        margin-bottom: 10px;
    }
    .sub-container {
        display: flex;
        margin: 15px 30px 0px 10px;
    }
    .container nav.fixed ul {
       margin: 5px 2px 10px 2px;
    }
    .container nav .links button {
        height: 50px;
    }
    .br {
        display: none;
    }
    
    .container nav ul {
        margin: 10px 10px 10px 10px;
    }
    .logo {
        margin-top: 5px;
    }
    .logo img{
        width: 80%;
    }
    .h {
        margin: 0px 0px 0px 0px;
    }
    .sub-container .person img {
        width: 49%;
        height: 37vh;
    }
    .web {
        margin-top: 20px;
        margin-left: 10px;
        flex-direction: column;
    }
    .web button {
        margin-right: 10px;
        padding: 10px;
        font-size: 12px;
    }
    .live {
        margin: 10px 0px 20px 10px;
    }
    .design {
        margin: 30px 0px 20px 30px;
        flex-direction: column;
    }
    .design .text {
        margin-right: 15px;
    }
    .design .imgs {
        margin-top: 20px;
    }
    .pp {
        margin-left: 50px;
    }
    .contact {
        margin: 20px 20px 20px 20px;
    }
    .contact .text p {
        font-size: 18px;
    }
    .contact .text, .social, .btn {
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 375px) {
    .sub-container .text {
        font-size: 30px;
    }
    .sub-container .text h2 {
        font-size: 35px;
    }
    .pd {
        width: 100%;
    }
    .sub-container .text p {
        margin-top: 10px;
        font-size: 15px;
        margin-bottom: 10px;
    }
    .de {
        margin-left: 80px;
    }
    .sub-container .person img {
        width: 50%;
        height: 35vh;
    }
    .contact {
        margin: 20px 20px 20px 20px;
    }
    .contact .text p {
        font-size: 16px;
    }   
}
@media screen and (max-width: 320px) {
    .container nav .links button {
        height: 40px;
    }
    .sub-container .text h2 {
        font-size: 30px;
    }
    .sub-container {
        height: 79vh;
    }
    .sub-container .text p {
        margin-top: 10px;
        font-size: 13px;
        margin-bottom: 10px;
    }
    .logo img{
        width: 60%;
    }
    .h {
        margin: 0px 0px 0px 0px;
    }
    .sub-container .text {
        font-size: 16px;
        height: 56vh;
    }
    .about p {
        font-size: 13px;
    }
    .design {
        margin: 30px 0px 20px 30px;
        flex-direction: column;
    }
    .de {
        margin-left: 40px;
    }
    .design h2 {
        font-size: 20px;
    }
    .design p {
        font-size: 17px;
    }
    .contact .text p {
        font-size: 13px;
    }
    .contact button {
        padding: 7px 7px;
    }
}